<%- include('./includes/header') -%>
<%- include('./includes/alert',{messages}) -%> 

<!-- Jumbotron -->

 <section class=" contact jumbotron text-center mt-5 w-75 m-auto">
  <div
    class="container d-flex flex-column justify-content-center align-items-center w-100"
  >
    <h1 class="jumbotron-heading my-4 w-100">
      به بزرگترین فروشگاه ماشین ایران خوش آمدید
    </h1>
    <p class="lead text-muted w-75">
      به سایت ایران پلاک خیلی خوش آمدید. این سایت به طور تخصصی در زمینه خرید و
      فروش خودرو فعالیت میکند بدین معنی که در هر نقطه ای از سرزمین بزرگمان ایران
      زمین که باشید میتوانید به راحتی خودرویی خود را برای فروش آگهی کنید و یا
      خودرویی مناسب برای خرید پیدا کنید میخوای قسمتهای مختلف این صفحه رو بهت
      معرفی کنیم؟نیاز به راهنمایی داری؟
    </p>
    <p>
      <a href="#" class="btn btn-warning my-2">مشاوره فروش رایگان</a>
      <a href="#" class="btn btn-secondary my-2">پیگیری سفارشات</a>
    </p>
  </div>
</section> 
<!-- end of Jumbotron -->

<div class="album py-5 bg-light">
  <div class="container">
    <!-- search -->
    <div class="m-auto w-75 mb-5">
      <form
        class="form-inline my-2 my-lg-0 d-flex flex-row w-100"
        method="POST"
        action="/car/search"
      >
        <button class="btn btn-success my-2 my-sm-0 w-25" type="submit">
          جست و جو
        </button>
        <input
          class="form-control mr-sm-2 mx-2 w-75"
          type="search"
          name="search"
          placeholder=" کلمه کلیدی خود را وارد کنید"
          aria-label="Search"
        />
      </form>
    </div>
    <!-- end search -->
    <div class="row">
      <% cars.forEach(car=>{ %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            alt="<%=car.title%>"
            style="height: 300px; width: 100%; display: block"
            src="/<%=car.img%>"
          />
          <div class="card-body">
            <p class="card-text h4 my-2">مدل: <%=car.title%></p>
            <hr />
            <p class="card-text h4 my-2">رنگ: <%=car.color%></p>
            <hr />
            <p class="card-text h4 my-2">سال: <%=car.year%></p>
            <hr />
            <div class="d-flex justify-content-between align-items-center">
              <a
                id="buy"
                type="button"
                href="/car/<%=car.id %> "
                class="btn btn-sm btn-success my-2"
              >
                اطلاعات بیشتر و خرید
              </a>

              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include('./includes/footer') -%>
