<!DOCTYPE html>
<html lang="fa-IR" dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>فروشگاه ماشین</title>
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/css/vazir.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/bootstrap.bundle.min.js" defer></script>
  </head>
  <body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/home">فروشگاه ماشین </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <% if(isLoggedIn){ %> 

              <li class="nav-item active">
                <a class="<%= (path ==="/home")? 'nav-link active':'nav-link' %>" aria-current="page" href="/home">صفحه اصلی</a>
              </li>
              <li class="nav-item">
                <a class="<%= (path ==="/contact")? 'nav-link active':'nav-link' %>" href="/contact">تماس با ما</a>
              </li>
              <li class="nav-item">
                <a class="<%= (path ==="/about")? 'nav-link active':'nav-link' %>" href="/about">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="<%= (path === `/user/${user.username}`)? 'nav-link active':'nav-link' %>" href="/user/<%=user.username%>">پروفایل من</a>
              </li>

            <% } %> 
  
          </ul>
          <ul class="nav navbar-nav navbar-right ">
            <% if(isLoggedIn){ %>
              <li><a class="btn btn-danger btn-sm me-2 px-5" href="/auth/logout">خروج از حساب</a></li>
            <% }else if(!isLoggedIn){ %>
              <li><a class="btn btn-success btn-sm me-2 px-5" href="/auth/login">ورود</a></li>

            <% } %>   
          </ul>
        </div>
      </div>
    </nav>

